/*
 Override bootstrap style
*/

.navbar .logo {
	margin: 3px;
	margin-right: 10px;
}

.modal form {
	margin-bottom: 0;
}

.navbar-inner {
  background-image:-moz-linear-gradient(top, #1884d7, #1262a0);
  background-image:-ms-linear-gradient(top, #1884d7, #1262a0);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#1884d7), to(#1262a0));
  background-image:-webkit-linear-gradient(top, #1884d7, #1262a0);
  background-image:-o-linear-gradient(top, #1884d7, #1262a0);
  background-image:linear-gradient(top, #1884d7, #1262a0);
}

.btn-navbar:active,.btn-navbar.active{
  background-color:#080808 \9;
}

.search-query {
  width: 40%;
}

.accordion-group {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  min-height: 20px;
}

.accordion-toggle {
	font-size: 120%;
}

.full-width {
	width: 99%;
}

.result-head {
	display:block;
	padding:8px 15px;
}

.loader {
	display: block;
	margin: 0 auto;
}

.field-author {
	font-style: italic;
}

.field-title {
	width: 60%;
}

.field-paging {
	width: 80%;
}

#page-loader { position:fixed; top:50%; left:50%; z-index:99; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:#fff url(../result-loader.gif) no-repeat center center; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

#masking
{
	background: transparent url(images/line-dotted.png) left top repeat;
	width:100%;
	height:150%;
	position:fixed;
  top: -100px;
	z-index: -99;
	padding:0;
	margin:0;
}

#adv-search-form table {
	width: 650px;
}